<%- include('./partials/header') %>
  <div class="show-content">
  <tbody>
    <tr>
      <td><%= item.brand %></td>
      <td><%= item.productName %></td>
     <img src="<%= item.imageURL %>" alt="img">
     
    </tr>
  </tbody>
  <a href="/<%=category %>">Go Back</a>

<% if(item.reviews.length) {%>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      <% item.reviews.forEach(review => { %>
        <tr>
          <td><%= review.createdAt.toLocaleDateString() %></td>
          <td><%= review.content %></td>
          <td>
            <form action="/<%=category %>/<%=id %>/reviews?_method=DELETE" method="POST">
              <button type="sumbit">X</button>
            </form>
          </td>
          <td>
            <a href="/<%=category %>/<%=id %>/<%=review._id %>/reviews/edit">Edit a Review</a>
          </td>
        </tr>
     <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reivews Yet</h5>
<% } %>

  <form action="/<%=category %>/<%=id %>/reviews" method="POST">
    <label>Rating:</label>
    <label>Leave a Review</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Review">
  </form>
</div>

<%- include('./partials/footer') %>