<%- include('./partials/header') %>

  <div class="card">
  <tbody>
    <tr>
      <img src="<%= item.imageURL %>" alt="img">
      <!-- <p><strong><%= item.brand %></strong><P>
      <p><strong><%= item.productName %></strong><p> -->
      <p><strong>Description: </strong> <br> <%= item.details %></p>
      <p><strong>Price: &nbsp;</strong>$<%= item.price %></p>
    </tr>
  </tbody>

<% if(item.reviews.length) {%>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% item.reviews.forEach(review => { %>
        <tr>
          <td><%= review.createdAt.toLocaleDateString() %></td>
          <td><%= review.content %></td>
          <td>
            <form action="/<%=category %>/<%=id %>/reviews?_method=DELETE" method="POST">
              <button class="delete" type="sumbit">X</button>
            </form>
          </td>
          <td>
            <a href="/<%=category %>/<%=id %>/<%=review._id %>/reviews/edit">Edit a Review</a>
          </td>
        </tr>
     <% }) %>
    </tbody>
  </table>
<% } else { %>
  <p><strong>No Reviews Yet</strong></p>

<% } %>

  <form action="/<%=category %>/<%=id %>/reviews" method="POST">
    <p><strong>Leave a Review</strong></p>
    <textarea name="content" cols="35" rows="8"></textarea>
    <input class="add-review-btn" type="submit" value="Add Review">
  </form>
    <a class="go-back" href="/<%=category %>">Go Back</a>
</div>


<%- include('./partials/footer') %>