<%- include('./partials/header') %>

<main>
  <div class="card">
    <form action="/<%=category %>/<%=id %>/<%=review._id %>/reviews?_method=PUT" method="POST">
      <textarea name="content" cols="35" rows="8"><%=review.content %></textarea>

      <input class="update-review-btn" type="submit" value="Update a Review">
    </form>
  </div>
</main>



<%- include('./partials/footer') %>