<%- include('../partials/header') %>

<section id="items">
  <% babyMustHave.forEach(function(item) { %>
    <article class="card">
    <h3><%= item.brand %></h3>
    <h4><%= item.productName %></h4>
     <img src="<%= item.imageURL %>" alt="img">
     <a href="/show/baby-must-haves/<%=item._id %>">See Details</a>
    </article>
    <% }); %>
</section>

<%- include('../partials/footer') %>
