<%- include('../partials/header') %>
  <h1>Baby-Gear</h1>

  <tbody>
    <% babyGear.forEach(function(item) { %>
      <tr>
        <td><%= item.brand %></td>
        <td><%= item.productName %></td>
       <img src="<%= item.imageURL %>" alt="img">
       <a href="/show/babygear/<%=item._id %>">See Details</a>
      </tr>
      <% }); %>
    </tbody>

  <%- include('../partials/footer') %>
